body,html{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .block {
        margin: 5px;
        padding: 10px;
        width: 200px;
        height: 100px;
        border-radius: 10px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: open 0.7s linear forwards;
        .block__hash {
            font-weight: 700;
            font-size: 13px;
            div{
                margin: 5px 0;
            }
        }
    }
}

@keyframes open {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}